name: Build and Push Docker

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v24
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Setup Cachix
        uses: cachix/cachix-action@v13
        with:
          name: czujka-librus
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
          skipPush: false

      - name: Build Docker image with Nix
        run: nix build .#docker

      - name: Load image to Docker
        run: docker load < result

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Docker image
        run: |
          docker push ghcr.io/flakm/czujka-librus:latest

          # Tag with git commit SHA for versioning
          docker tag ghcr.io/flakm/czujka-librus:latest ghcr.io/flakm/czujka-librus:${{ github.sha }}
          docker push ghcr.io/flakm/czujka-librus:${{ github.sha }}
