name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v24
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Setup Cachix
        uses: cachix/cachix-action@v13
        with:
          name: czujka-librus
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Build package
        run: nix build .#default

      - name: Create tarball
        run: |
          tar czf czujka-librus-${{ github.ref_name }}-x86_64-linux.tar.gz -C result .

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: czujka-librus-${{ github.ref_name }}-x86_64-linux.tar.gz
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
